@import '../../../index.scss';

.admin__layout {
  display: flex;
  .sidebar {
    height: 100vh;
    .logo {
      text-align: center;
      margin: 0 auto;
      height: 51px;
      line-height: 51px;
      img {
        height: 40px;
      }
    }

    .sidebar-menu {
      .sidebar-menu-item {
        padding: 8px 15px;
        transition: background $transition;
        &:hover {
          background-color: $light;
        }
        .name {
          margin-top: 4px;
        }
      }
    }
  }

  .open__sidebar {
    width: 300px;
    .sidebar-menu-item {
      margin-bottom: 10px;
      .icon {
        padding-right: 15px;
      }
      .name {
        display: block;
      }
    }
  }

  .close__sidebar {
    width: auto;
    .logo {
      img {
        height: 30px;
      }
    }
    .sidebar-menu-item {
      margin-bottom: 0;
      .icon {
        padding: 5px;
      }
      .name {
        display: none;
      }
    }
  }
}

// Dashboard Area
.admin__area {
  width: 100%;
  background-color: $light;
}
