@import '../../../index.scss';

.shop__sidebar {
  width: 100%;
  max-width: 300px;

  .category {
    li {
      cursor: pointer;
      user-select: none;
      text-transform: capitalize;
    }

    .text-underline {
      text-decoration: underline;
    }
  }

  .ratting {
    .cursor-pointer {
      cursor: pointer;
      user-select: none;
      line-height: 1;
    }

    span {
      cursor: pointer !important;
    }
  }

  .light-color {
    color: $light-gray;
  }

  .active-color {
    color: $sub-main;
  }
}
