.banner__area {
  background-image: url('../../../images/banner.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 420px;

  & .btn {
    bottom: 70px;
    right: 230px;
  }
}
