.banner__area {
  background-image: url('../../../images/banner.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  background-attachment: scroll;
  width: 100%;
  height: 400px;
}

@media (max-width: 992px) {
  .banner__area {
    height: 300px;
  }
}
