@import '../../index.scss';

.navbar {
  background-color: $white;
}

.app__logo {
  img {
    height: 38px;
  }
}

.badge__style {
  color: $sub-main;
  span {
    height: 20px;
    width: 20px;
    background-color: $main;
    color: $white;
    font-size: 12px;
    display: inline-block;
    line-height: 20px;
    position: absolute;
    top: -2px;
    right: -3px;
  }
}

.dropdown__avatar {
  border-radius: 50%;
  border: none !important;
  padding: 0 !important;
  outline: none !important;
  box-shadow: none !important;
  background-color: transparent !important;

  img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    object-fit: cover;
    border: 1px solid $primary;
  }

  &::after {
    color: $primary;
  }
}

.dropdown__menu {
  top: 45px !important;
  left: -110px !important;
}
