.list__group {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  .list-group-item:last-child {
    border-bottom: none;
  }

  .action__btn {
    border: none;
    border-radius: 5px;
    background-color: transparent;
  }
}

.list__group__input {
  input,
  button {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.empty__list {
  input,
  button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
