.list__group {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;

  .list-group-item:last-child {
    border-bottom: none;
  }

  .action__btn {
    border: none;
    border-radius: 5px;
    background-color: transparent;
  }

  .category__img {
    height: 50px;
    width: 50px;
    object-fit: cover;
  }
}

.list__group__input {
  input,
  button {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  input {
    height: 60px;
  }

  .image__input {
    border-bottom-right-radius: 0;
    width: auto;
  }

  .category__img {
    height: 60px;
    width: 100px;
    object-fit: cover;
  }
}

.empty__list {
  input,
  button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
